{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>코드</th>
            <th>이름</th>
            <th>이메일</th>
            <th>등록날짜</th>
        </tr>
        </thead>
        <tbody>
        {% if user_list %}
        {% for zuser in user_list %}
        <tr>
            <td>{{ zuser.user_code }}</td>
            <td>{{ zuser.name }}</td>
            <td>{{ zuser.email }}</td>
            <td>{{ zuser.add_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">유저가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>